.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ajuste fino para centrar */
  z-index: 15;
  border: solid var(--blanco1) 1px;
  width: 400px;
}

.modal-content{
  background-color: var(--color-azul);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton{
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.botonCerrar{
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: absolute;
  width: 20px;
  top: -12px;
  right: -12px;
  padding: 4px;
  background-color: var(--color-fondo);
  border-radius: 50%;
  border: 1px solid var(--blanco1);
}

.botonCerrar:hover{
  background-color: var(--color-azul2);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

.imagenes{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
}

.imagenes article{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.imagenes article:not(.activo):hover{
    background-color: var(--color-azul2);
    box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

.imagenes article.activo{
    background-color: var(--color-azul2);
    box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
    border: 1px solid var(--blanco1);
}

.imagenes img{
    width: 100%;
    max-width: 192px;
    pointer-events: none;
}

.imagenes p{
    margin: 0;
    font-size: 1rem;
    color: var(--blanco1);
    text-align: center;
}