<div class="modal-overlay" *ngIf="visible">
  <div class="modal-content">
    <button type="button" class="boton" (click)="cerrarModal()"><img class="botonCerrar" src="assets/x_blanca.png" alt="Cerrar"></button>
    <section class="imagenes">
        <article (click)="setElemento('generador')" [class.activo]="elementoSeleccionado === 'generador'">
            <img src="assets/elementos/desaladora_blanca.png" alt="generador">
            <p>Generador de agua</p>
        </article>
        <article (click)="setElemento('consumo')" [class.activo]="elementoSeleccionado === 'consumo'">
            <img src="assets/elementos/consumo_blanco.png" alt="consumo">
            <p>Zona de consumo</p>
        </article>
        <article (click)="setElemento('deposito')" [class.activo]="elementoSeleccionado === 'deposito'">
            <img src="assets/elementos/deposito_blanco_4.png" alt="deposito">
            <p>Depósito</p>
        </article>
        <article (click)="setElemento('tuberia')" [class.activo]="elementoSeleccionado === 'tuberia'">
            <img src="assets/elementos/tuberia_blanca.png" alt="tuberia">
            <p>Tubería</p>            
        </article>
    </section>
  </div>
</div>