.recuadros-inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la altura de la ventana */
  gap: 2rem;
}

img{
  width: 250px;
}

