<div class="modal-overlay" *ngIf="visible">
  <div class="modal-content">
    <button type="button" class="boton" (click)="cerrarDesdeBoton()"><img class="botonCerrar" src="assets/x_blanca.png" alt="Cerrar"></button>
    <section [ngSwitch]="celda.content?.tipo">
      <!-- ------------------------------ GENERADOR ------------------------------ -->
      <article *ngSwitchCase="'generador'">
        <span>
          <h3>Producción (0, 1)</h3>
          <!-- El ngModel hace binding bidireccional entre el texto del input y la variable produccion, cuando una cambie, cambiará la otra -->
          <input type="number" class="datosSim" [(ngModel)]="produccion" (input)="procesarProduccion()">
        </span>
        <span>
          <h3>Cantidad Máxima</h3>
          <!-- El ngModel hace binding bidireccional entre el texto del input y la variable produccion, cuando una cambie, cambiará la otra -->
          <input type="number" class="datosSim" [(ngModel)]="cantidadMax" (input)="procesarCantidadMax()">
        </span>
        <span *ngIf="celda.content?.sistema && celda.content!.sistema.length > 1" class="reparticion">
          <h3>Repartición entre sistemas</h3>
          <div *ngFor="let sis of celda.content?.sistema; let i = index" class="reparticion-item">
            <label>Sistema {{ sis.id }}</label>
            <input type="number" class="datosPorc" [(ngModel)]="celda.content!.sistema[i].porcentaje" (input)="procesarReparto()">
          </div>
          <p class="advertencia" *ngIf="!repartoValido"> La suma debe ser 100%. </p>
        </span>  
        <span>
          <h3>Color del generador</h3>
          <div class="bloque">
            <div
              class="colores"
              *ngFor="let c of colores"
              [ngStyle]="{ 'background-color': c.color }"
              [class.activo]="colorCelda === c.id"
              (click)="colorSeleccionado(c.id)"
            ></div>
          </div>
        </span>
      </article>
      <!-- ------------------------------ DEPÓSITO ------------------------------ -->
      <article *ngSwitchCase="'deposito'">
        <span>
          <h3>Solera (m)</h3>
          <input type="number" class="datosSim" [(ngModel)]="solera" (input)="procesarSolera()">
        </span>
        <span>
          <h3>Altura máxima (m)</h3>
          <input type="number" class="datosSim" [(ngModel)]="alturaMax" (input)="procesarAlturaMax()">
        </span>
        <span>
          <h3>Capacidad del depósito (m³)</h3>
          <input type="number" class="datosSim" [(ngModel)]="capacidad" (input)="procesarCapacidad()">
        </span>
        <span>
          <h3>Altura actual (m)</h3>
          <input type="number" class="datosSim" [(ngModel)]="alturaActual" (input)="procesarAlturaActual()">
        </span>
        <span>
          <h3>Color del depósito</h3>
          <div class="bloque">
            <div
              class="colores"
              *ngFor="let c of colores"
              [ngStyle]="{ 'background-color': c.color }"
              [class.activo]="colorCelda === c.id"
              (click)="colorSeleccionado(c.id)"
            ></div>
          </div>
        </span>
      </article>
      <!-- ------------------------------ CONSUMO ------------------------------ -->
      <article *ngSwitchCase="'consumo'">
        <span>
          <h3>Datos de la simulación</h3>
          <!-- El ngModel hace binding bidireccional entre el texto del input y la variable datosSim, cuando una cambie, cambiará la otra -->
          <input class="datosSim" type="text" [(ngModel)]="datosSim" (input)="procesarDatosSimulacion()" placeholder="Ej: 3, 5, 10">
        </span>
        <span>
          <h3>Consumo máximo</h3>
          <input type="number" class="datosSim" [(ngModel)]="consumoMaximo" (input)="procesarConsumoMaximo()">
        </span>
        <span *ngIf="celda.content?.sistema && celda.content!.sistema.length > 1" class="reparticion">
          <h3>Repartición entre sistemas</h3>
          <div *ngFor="let sis of celda.content?.sistema; let i = index" class="reparticion-item">
            <label>Sistema {{ sis.id }}</label>
            <input type="number" class="datosPorc" [(ngModel)]="celda.content!.sistema[i].porcentaje" (input)="procesarReparto()">
          </div>
          <p class="advertencia" *ngIf="!repartoValido"> La suma debe ser 100%. </p>
        </span>
        <span>
         <h3>Color del área de consumo</h3>
         <div class="bloque">
           <div
             class="colores"
             *ngFor="let c of colores"
             [ngStyle]="{ 'background-color': c.color }"
             [class.activo]="colorCelda === c.id"
             (click)="colorSeleccionado(c.id)"
           ></div>
         </div>
       </span>
      </article>
      <!-- ------------------------------ TUBERÍA ------------------------------ -->
      <article *ngSwitchCase="'tuberia'">
        <div *ngIf="celda.content?.sistema?.length == 1">
          <span class="botonesTuberia">
            <button type="button" [class.activo]="editarSistema === false" (click)="editSistema(false)">Tubería</button>
            <button type="button" [class.activo]="editarSistema === true" (click)="editSistema(true)">Sistema</button>
          </span>
          <div *ngIf="editarSistema == true">
            <span class="reparticion">
              <h3>Umbrales de los agentes</h3>
              <div class="reparticion-item">
                <label>Agente 1</label>
                <input type="number" class="datosPorc" [(ngModel)]="mu1" (input)="procesarMu1()">
              </div>
              <div class="reparticion-item">
                <label>Agente 2</label>
                <input type="number" class="datosPorc" [(ngModel)]="mu2" (input)="procesarMu2()">
              </div>
              <div class="reparticion-item">
                <label>Agente 3</label>
                <input type="number" class="datosPorc" [(ngModel)]="mu3" (input)="procesarMu3()">
              </div>
              <div class="reparticion-item">
                <label>Agente 4</label>
                <input type="number" class="datosPorc" [(ngModel)]="mu4" (input)="procesarMu4()">
              </div>
            </span>
            <span>
              <h3>Ponderación de los agentes</h3>
              <h4>Agente 1, 2 y 3</h4>
              <input type="text" class="datosSim" [(ngModel)]="ponderar" (input)="procesarPonderacion()" placeholder="Ej: 0.5, 0.3, 0.2">
            </span>
            <p class="advertencia" *ngIf="!sumaPonderacion">La suma debe ser 1</p>
            <span>
              <h3>Reacción de los agentes en la bomba (0-1)</h3>
              <input type="number" class="datosSim" [(ngModel)]="reaccion" (input)="procesarReaccion()">
            </span>
          </div>
        </div>
        <div *ngIf="celda.content?.sistema?.length == 0 || editarSistema == false">
          <span>
            <h3>Presión maxima</h3>
            <input type="number" class="datosSim" [(ngModel)]="presionMaxima" (input)="procesarPresionMaxima()">
          </span>
          <span>
            <h3>Presión mínima</h3>
            <input type="number" class="datosSim" [(ngModel)]="presionMinima" (input)="procesarPresionMinima()">
          </span>
          <span>
            <h3>Color de la tubería</h3>
            <div class="bloque">
              <div
                class="colores"
                *ngFor="let c of colores"
                [ngStyle]="{ 'background-color': c.color }"
                [class.activo]="colorCelda === c.id"
                (click)="colorSeleccionado(c.id)"
              ></div>
            </div>
          </span>
        </div>
      </article>
    </section>
  </div>
</div>

