// Para quitar los spinners que aparecen en los input de tipo number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ajuste fino para centrar */
  z-index: 15;
  border: solid var(--blanco1) 1px;
  width: 350px;
}

.modal-content{
  background-color: var(--color-azul);
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.boton{
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.botonCerrar{
  transition: background-color 1s ease, box-shadow 0.3s ease;
  position: absolute;
  width: 20px;
  top: -12px;
  right: -12px;
  padding: 4px;
  background-color: var(--color-fondo);
  border-radius: 50%;
  border: 1px solid var(--blanco1);
}

.botonCerrar:hover{
  background-color: var(--color-azul2);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

article{
  padding: 10px;
}
span{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1.3rem;
}

section article h3{
  font-size: 1.3rem;
  margin: 0;
  cursor: default;
}

.bloque{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.colores{
  width: 35px;
  height: 35px;
  border: 1px solid var(--blanco1);
  cursor: pointer;
}

.colores:not(.activo):hover{
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

.colores.activo{
  box-shadow: 0 0.2rem 0.6rem var(--color-fondo);
  border: 1px solid var(--rojo);
  cursor: default;
}

.datosSim{
  font-size: 1.3rem;
  width: 85%;
  text-align: center;
  color: var(--color-fondo);
  background-color: var(--blanco1);
  border: 1px solid white;
  padding: 3px 0;
}

.datosPorc{
  font-size: 1.3rem;
  width: 85%;
  text-align: center;
  color: var(--color-fondo);
  background-color: var(--blanco1);
  border: 1px solid white;
  padding: 3px 0;
}

.reparticion{
  margin: 0;
  gap: 0.4rem;
  margin-bottom: 1.3rem;
}

.reparticion-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

.reparticion-item label{
  font-size: 1rem;
}

.reparticion-item input{
  width: 80px;
}

.advertencia{
  margin: 0;
  padding: 3px;
  color: var(--rojo);
  font-size: 14px;
  font-size: 1.3rem;
}