.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  text-align: center;
  border: solid var(--blanco1) 1px;
  width: 200px;
}

.modal-content{
  background-color: var(--color-azul);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover{
  background-color: var(--color-azul2);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

.boton{
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img{
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: absolute;
  width: 20px;
  top: -12px;
  right: -12px;
  padding: 4px;
  background-color: var(--color-fondo);
  border-radius: 50%;
  border: 1px solid var(--blanco1);
}

img:hover{
  background-color: var(--color-azul2);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}