<app-navbar #navbar (abrir)="abrirModales('navbar')"></app-navbar>
<section class="menu">
    <article>
        <button type="button" 
            (click)="setModo('edicion')" 
            [class.activo]="modoActivo === 'edicion'">
            Modo edición
        </button>
        <button type="button"
            (click)="setModo('simulacion')"
            [class.activo]="modoActivo === 'simulacion'">
            Modo simulación
        </button>
    </article>
    <article>
        <app-herramientas-edicion (herramientaSimulador)="cambioHerramienta($event)" *ngIf="modoActivo === 'edicion'"></app-herramientas-edicion>
        <app-herramientas-simulacion #herrSim (herramientaSimulador)="cambioHerramienta($event)" *ngIf="modoActivo === 'simulacion'"></app-herramientas-simulacion>
    </article>
</section>
<!-- sección de modales que pueden aparecer dependiendo de donde cliquemos -->

<app-crear-elemento #elemento (elemento)="cambioElemento($event)"></app-crear-elemento>
<app-elemento-detalles #elementoDetalles [celda]="celdaSeleccionada!" (actualizar)="seleccionar($event)"></app-elemento-detalles>
<app-basura #basura (borrar)="confirmarBorrado()"></app-basura>

<!-- grid de trabajo -->
<section class="grid-container">
    <article class="grid" [style.--cols]="columnas" [style.--rows]="filas">
        <div class="cell"
        *ngFor="let cell of datosGrid"
        [class.selected]="celdaSeleccionada === cell"
        (click)="controladorCanvas(cell)">
            <div *ngIf="cell.content" class="cell-content">
                <img [src]="imagenDeposito(cell.content)" [alt]="cell.content.tipo">
                <p class="infoElemento">{{infoElemento(cell.content)}}</p>
                <p class="infoSistema" *ngIf="cell.content.sistema.length > 0">
                    <ng-container *ngFor="let id of infoSistema(cell)">
                        <div>{{ id }}</div>
                    </ng-container>
                </p>
            </div>
        </div>
    </article>
</section>
