.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ajuste fino para centrar */
  z-index: 15;
  border: solid var(--blanco1) 1px;
  width: 350px;
}

.modal-content{
  background-color: var(--color-azul);
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.boton{
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.botonCerrar{
  transition: background-color 1s ease, box-shadow 0.3s ease;
  position: absolute;
  width: 20px;
  top: -12px;
  right: -12px;
  padding: 4px;
  background-color: var(--color-fondo);
  border-radius: 50%;
  border: 1px solid var(--blanco1);
  cursor: pointer;
}

.botonCerrar:hover{
  background-color: var(--color-azul2);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

h3{
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
  cursor: default;
}

.confirmar{
  color: var(--blanco1);
  background-color: var(--rojo);
  border: 1px solid var(--blanco1);
  padding: 0.6rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.confirmar:hover{
  transition: color 0.3s ease, box-shadow 0.3s ease;
  color: var(--amarillo);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}