.recuadro{
    width: 400px;
    min-height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--color-azul);
    padding: 1rem;
    border: 1px solid var(--blanco1);
}

button{
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--color-fondo);
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--blanco1);
  width: 160px;
  border: 1px solid var(--blanco2);
  padding: 0.6rem;
  margin: 0.4rem 0rem;
  display: block;
  cursor: pointer;
}

button:hover{
  background-color: var(--color-azul2);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

form label{
  font-weight: bold;
}

form input, form label{
  font-size: 1.3rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

form input{
  color: var(--negro);
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

.tamanyo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
}

.tamanyo input{
    width: 70px;
}

.botones{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}


/* Quitar flechas en Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}