:host{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 1rem;
}

img{
  transition: background-color 0.3s ease, filter 0.3s ease, border 0.3s ease;
  background-color: none;
  width: 30px;
  cursor: pointer;
}

img:not(.activo):hover{
  filter: drop-shadow(0 0 4px var(--color-fondo))
  drop-shadow(0 0 4px var(--color-fondo))
  drop-shadow(0 0 2px var(--color-fondo));
}

img.lapiz{
  background-color: var(--color-fondo);
  box-shadow: none;
  border: 1px solid var(--blanco1);
  padding: 2px;
}

// si no es un lapiz que no salgan los efectos
img.activo:not(.lapiz){
  background-color: var(--color-fondo);
  box-shadow: none;
  border: 1px solid var(--blanco1);
  padding: 2px;
  cursor: default;
}