.modal-overlay {
  position: absolute;
  top: 35px;
  left: 2vw;
  z-index: 15;
  text-align: center;
  border: solid var(--blanco1) 1px;
  width: 200px;
}

.modal-content{
  background-color: var(--color-azul);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
  margin: 10px;
}

button{
  transition: background-color 0.3s ease, box-shadow 0.3s ease;  
  background-color: var(--color-fondo);
  font-weight: bold;
  font-size: 1rem;
  color: var(--blanco1);
  width: 160px;
  border: 1px solid var(--blanco2);
  padding: 0.6rem;
  margin: 0.4rem 0rem;
  display: block;
  cursor: pointer;
}

button:hover{
  background-color: var(--color-azul2);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

.boton{
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img{
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: absolute;
  width: 20px;
  top: -12px;
  right: -12px;
  padding: 4px;
  background-color: var(--color-fondo);
  border-radius: 50%;
  border: 1px solid var(--blanco1);
}

img:hover{
  background-color: var(--color-azul2);
  box-shadow: 0 0.1rem 0.4rem var(--color-fondo);
}

p{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--blanco1);
  color: var(--rojo);
  padding: 10px 10px;
  border: 1px solid var(--color-fondo);
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  animation: fadeInOut 3s ease forwards;
  z-index: 9999;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}