<article class="recuadro">
    <h2>Selecciona el esquema a simular</h2>
        <input type="file" accept=".json" id="archivoInput" required (change)="cargarArchivo($event)">
        <label for="archivoInput">
            📂 Seleccionar archivo
        </label>
        <p *ngIf="nombreArchivo" class="nombre-archivo">{{ nombreArchivo }}</p>

        <p class="error" *ngIf="errorSinArchivo">*Selecciona un archivo*</p>
        <p class="error" *ngIf="errorArchivoVacio">*Selecciona un archivo valido*</p>
        <span class="botones">
            <button type="button" (click)="procesarArchivo()">Cargar</button>
            <button type="button" (click)="cambiarComp(0)">Cancelar</button>
        </span>
</article>